@using ElectronicsStore.Models.Brands
@model List<BrandQuickViewModel>
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration;


<div class="brand-active slick-padding slick-arrow-style">
    @foreach(var brand in Model)
    {
     <div class="brand-item text-center">
        <a href=@($"../product/index?brandId={brand.Id}")><img height="70px" width="150px" src="@($"{_configuration["BaseAddress"]}/Image/{brand.Logo}")" alt=""></a>
    </div>
    }
</div>