@using ElectronicsStore.Models.Users
@model PasswordForgetRequest
@{
    Layout = "_LoginLayout";
}

<div class="card-header"><h3 class="text-center font-weight-light my-4">Quên mật khẩu</h3></div>
<div class="card-body">
    <form asp-action="ForgetPassword" asp-controller="Account" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-floating mb-3">
            <input class="form-control" asp-for="UserName" type="text" placeholder="Nhập tài khoản" />
            <label asp-for="UserName">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" asp-for="Email" type="text" placeholder="Nhập Email" />
            <label asp-for="Email">Email</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" asp-for="NewPassword" placeholder="Nhập mật khẩu mới" />
            <label asp-for="NewPassword">Mật khẩu mới</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" asp-for="ConfirmNewPassword" placeholder="Nhập lại mật khẩu mới" />
            <label asp-for="ConfirmNewPassword">Xác nhận</label>
        </div>

        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
            <button class="btn btn-primary" type="submit">Gửi yêu cầu</button>
        </div>
    </form>
</div>