@model ElectronicsStore.Models.Users.PasswordForgetRequest

@section Category{
    category-style-2
}

@{
    ViewData["Title"] = "Quên mật khẩu";
}

<div class="login-register-wrapper">
    <div class="container">
        <div class="member-area-from-wrap">
            <div class="row">
                <!-- Login Content Start -->
                <div style="margin-left: auto; margin-right: auto;" class="col-lg-6">
                    <div class="login-reg-form-wrap  pr-lg-50">
                        <h2>Quên mật khẩu</h2>
                        <form asp-action="ForgetPassword" asp-controller="Account" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="single-input-item">
                                <input asp-for="UserName" placeholder="Nhập Username" required />
                            </div>
                            <div class="single-input-item">
                                <input asp-for="Email" placeholder="Nhập Email" required />
                            </div>
                            <div class="single-input-item">
                                <input asp-for="NewPassword" placeholder="Nhập mật khẩu mới" required />
                            </div>
                            <div class="single-input-item">
                                <input asp-for="ConfirmNewPassword" placeholder="Xác nhận mật khẩu" required />
                            </div>
                            <div class="single-input-item">
                                <button class="sqr-btn">Đăng nhập</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Login Content End -->
            </div>
        </div>
    </div>
</div>