@model ElectronicsStore.Models.Users.PasswordUpdateRequest
@section Category{
    category-style-2
}

@{
    ViewData["Title"] = "Cập nhật mật khẩu";
}

<div class="login-register-wrapper">
    <div class="container">
        <div class="member-area-from-wrap">
            <div class="row">
                <div style="margin-left: auto; margin-right: auto;" class="col-lg-6">
                    <div class="login-reg-form-wrap mt-md-34 mt-sm-34">
                        <h2>Cập nhật tài khoản</h2>
                        <form asp-action="UpdatePassword" asp-controller="Account" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="single-input-item">
                                <label asp-for="CurrentPassword" class="required"></label>
                                <input asp-for="CurrentPassword" id="current-pwd" placeholder="Nhập mật khẩu hiện tại" required />
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="single-input-item">
                                        <label asp-for="NewPassword" class="required"></label>
                                        <input asp-for="NewPassword" id="current-pwd" placeholder="Nhập mật khẩu mới" required />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="single-input-item">
                                        <label asp-for="ConfirmNewPassword" class="required"></label>
                                        <input asp-for="ConfirmNewPassword" id="current-pwd" placeholder="Xác nhận mật khẩu mới" required />
                                    </div>
                                </div>
                            </div>
                            <div class="single-input-item">
                                <button class="check-btn sqr-btn ">Cập nhật</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>